.container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    display:flex;
    justify-content: space-between;
}

ul{
    display:flex;
    list-style-type: none;
    gap: 24px;
}

.aside, .aside-img{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.aside-img{
    display: flex;
    flex: 1;
    max-width: 350px;
}

.bottom-head{
    display:flex;
    justify-content: space-between;
}

a{
    text-decoration: none; 
}

h2{
    text-align: center;
}

.content{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.thumbnail-info img{
    border-radius: 25px;
}