.container{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    display:flex;
    justify-content: space-between;
    color: white;
    background-color: #1F2937;
    padding: 8px 150px 50px;
}

ul{
    display:flex;
    list-style-type: none;
    gap: 24px;
}

.aside, .aside-img{
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 600px;
}


.bottom-head{
    display:flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 8px 150px 100px;
}

a{
    text-decoration: none; 
    color:gray;
}

h1{
    color:white;
}

.button{
    display: block;
    padding: 8px 35px;
    color: blue;
    background-color: grey;
    border-radius: 10px;
}

h2{
    text-align: center;
}

p{
    color: gray;
}

.content{
    display: flex;
    flex-direction: column;
}

.thumbnails{
    display: flex;
}

.thumbnail-info{
    display: flex;
    flex:1;
    width:100px;
    justify-content: space-between;
}

.thumbnail-info li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thumbnail-info img{
    border-radius: 8px;
}

.thumbnail-info li img{
    border: 2px solid #3882F6;
    border-radius: 8px;
    object-fit: contain;
}